name: Update scaffold

on: workflow_dispatch

jobs:
  update-scaffold-version:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get install -y git curl g++ build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev libsqlite3-dev curl llvm libncurses5-dev libncursesw5-dev xz-utils tk-dev libffi-dev liblzma-dev python3-openssl python3-dev

      - name: Install pyenv
        run: |
          curl https://pyenv.run | bash
          echo "PYENV_ROOT=$HOME/.pyenv" >> $GITHUB_ENV
          echo "$HOME/.pyenv/bin" >> $GITHUB_PATH
          echo "$HOME/.pyenv/shims" >> $GITHUB_PATH

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.2"

      - name: Lock all subprojects
        run: |
          for dir in *; do \
            if [ -d "$dir" ]; then \
              echo "Processing $dir"; \
              cd $dir; \
              if [ -f ".python-version" ]; then \
                PYTHON_VERSION=$(cat .python-version | tr -d '[:space:]'); \
                echo "Found .python-version in $(basename $dir), requires Python $PYTHON_VERSION"; \
                if ! pyenv versions --bare | grep -q "^${PYTHON_VERSION}$"; then \
                    echo "Installing Python $PYTHON_VERSION..."; \
                    pyenv install $PYTHON_VERSION; \
                fi; \
                PYENV_VERSION=$PYTHON_VERSION uv cache clean; \
                PYENV_VERSION=$PYTHON_VERSION uv lock --upgrade-package bencherscaffold; \
              else \
                echo "No .python-version file found in $(basename $dir), using default Python version"; \
                uv cache clean; \
                uv lock --upgrade-package bencherscaffold; \
              fi; \
              git add uv.lock || echo "No changes to uv.lock in $(basename $dir)"; \
              cd ..; \
            fi; \
          done

      - name: Commit if changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -am "Update scaffold version"
          git push